@import '~bulma/bulma.sass';
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

//* Home styles

.home h2 {
  font-family: 'Faster One', cursive; 
  text-align: center;
  font-size: 32px;
  color: rgb(255, 252, 174);
  }

  .home-row1, .home-row2, .column:hover {
    cursor: pointer;
  }

.home-row1, .home-row2 {
  min-height: 250px;

}
.night {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://images.unsplash.com/photo-1542052125323-e69ad37a47c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.night::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.3);
}
.food {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://images.unsplash.com/photo-1563379926898-05f4575a45d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.food::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.3);
}

.culture {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://images.unsplash.com/photo-1449265614232-03dfc33163a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.culture::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.3);
}
.beach {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.beach::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.3);
}
.snow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://images.unsplash.com/photo-1486335223442-a034129506f6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.snow::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.3);
}
.nature {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://images.unsplash.com/photo-1501555088652-021faa106b9b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.nature::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.3);
}
.selected {
  border: 5px solid green;
}

.addMargin {
  margin: 10px;
}


//* Navbar styles
.nav-dropdown {
  text-align: end;
}

//* cityCard Styles

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .titleAndEdit {
    display: flex;
    .editIcon {
      margin: 10px;
      cursor: pointer;
    }
    .deleteIcon {
      margin: 10px;
      margin-left: 0;
      margin-right: 0;
      cursor: pointer;
    }
  }
}

.favWishIcons {
  display: flex;
  .wishContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 15px;
    .wished {
      transform: scale(1.05) rotate(360deg);
      fill: yellow;
    }
  }
  .favContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .liked {
      transform: scale(1.05) rotate(360deg);
      background-color: #C62828;
      padding: .3rem;
      fill: white;
    }
  }
}

.ico {
  border-radius: 50%;
  cursor: pointer;
  fill: #232323;
  transition: .4s; 
}

.commentBox {
  background: lightblue;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  .commentDetails {
    font-size: 10px;
    font-style: italic;
    display: flex;
    justify-content: space-between;
    .deleteComment {
      cursor: pointer;
    }
    .deleteComment:hover {
      fill: red;
    }
  }
}


.addComment {
  display: flex;
  flex-direction: column;
  align-items: center;
  .button {
    width: 30%;
    margin-top: 10px;
  }
}




// .cityCardBox {

//   color: black;
//   padding: 5%;
// }

// .mapBox {

//   color: black;
//   padding: 5%;
//   padding-bottom: 0;
// }

// .commentBox {
//   color: black;
//   padding: 5%;
//   padding-top: 0;
// }

//* Profile page styles

.profile-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-name {
  padding: 1rem;
  font-size: 1.5rem;
}

.profile-info {
  text-align: center;
  // border: 1px solid rgb(225, 225, 225);
  margin: 3rem 1.5rem;
}

.wishlist-form {
  padding: 2rem;
}


li {
  list-style-type: none;
  color: #8ED6FF;
}




//SPLASH PAGE
.splash-page {
  background-color: #F88379;
}
.splash-text {
  color: white;
  font-size: 10vw;
  text-align: center;
  font-family: 'Faster One', cursive; 
}


//ERROR PAGE
.error-page {
  background-color: #C62828;
  text-align: center;
  color: white;
  padding: 200px; 
}
.error-link {
  color: white;
  font-family: 'Faster One', cursive; 
  font-size: 5vw;  
}
.error-link:hover {
  color: rgba(255, 255, 255, 0.92);
}




//HOVER EFFECTS
//SHRINK - ERROR LINK
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}


//SKEW FORWARD - SPLASH LINK
.hvr-skew-forward {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.hvr-skew-forward:hover, .hvr-skew-forward:focus, .hvr-skew-forward:active {
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
}

//SHADOW/GLOW 
.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}