@import '~bulma/bulma.sass';

//* Home styles
.home-row1, .home-row2 {
  min-height: 250px;
}
.night {
  background-image: url('https://images.unsplash.com/photo-1542052125323-e69ad37a47c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  h2 {
    font-family: 'Righteous', cursive;
    font-size: 40px;
    color: white;
  }
}
.night::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.3);
}
.food {
  background-image: url('https://images.unsplash.com/photo-1563379926898-05f4575a45d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  h2 {
    font-family: 'Righteous', cursive;
    font-size: 40px;
    color: white;
  }
}
.food::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.3);
}
.culture {
  background-image: url('https://images.unsplash.com/photo-1449265614232-03dfc33163a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  h2 {
    font-family: 'Righteous', cursive;
    font-size: 40px;
    color: white;
  }
}
.culture::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.3);
}
.beach {
  background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  h2 {
    font-family: 'Righteous', cursive;
    font-size: 40px;
    color: white;
  }
}
.beach::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.3);
}
.snow {
  background-image: url('https://images.unsplash.com/photo-1486335223442-a034129506f6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  h2 {
    font-family: 'Righteous', cursive;
    font-size: 40px;
    color: white;
  }
}
.snow::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.3);
}
.nature {
  background-image: url('https://images.unsplash.com/photo-1501555088652-021faa106b9b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  h2 {
    font-family: 'Righteous', cursive;
    font-size: 40px;
    color: white;
  }
}
.nature::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.3);
}
.isSelected {
  border: 5px solid green;
}


//* Navbar styles
.nav-dropdown {
  text-align: end;
}

//* cityCard Styles
// .background {
//   background-image: url('https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fi.imgur.com%2FCqwIfuw.png');
// }
.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.favContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.ico {
  border-radius: 50%;
  cursor: pointer;
  fill: #232323;
  transition: .4s; 
}

.liked {
  transform: scale(1.05) rotate(360deg);
  background-color: #C62828;
  padding: .3rem;
  fill: white;
}




.cityCardBox {

  color: black;
  padding: 5%;
}

.mapBox {

  color: black;
  padding: 5%;
  padding-bottom: 0;
}

.commentBox {
  color: black;
  padding: 5%;
  padding-top: 0;
}

.profile-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-name {
  padding: 1rem;
  font-size: 1.5rem;
}

.profile-info {
  text-align: center;
  border: 1px solid rgb(225, 225, 225);
  margin: 3rem 1.5rem;
}

.wishlist-form {
  padding: 2rem;
}
